<div class="title">{{title}}</div>
<table>
  <tr nav>
    <th class="rank"></th>
    <th class="flag"> </th>
    <th class="code"></th>
    <th *ngFor="let medal of [gold,silver,bronze,total]" [class.active]="isActive(medal.label)">
      <div
        class="control {{medal.label | lowercase}}" 
        (click)="sortArray( medal )" 
        [innerHtml]="medal.label"
      >
      </div>
    </th>
  </tr>
  <tr listing-component *ngFor="let listing of listings.slice(0,10); let i = index;" [listing]="listing"></tr>
</table>