@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

:root {
    --grey: #808283;
    --flagy: -17px;
}

/* You can add global styles to this file, and also import other style files */
#goldclicker {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13pt;
    font-weight: 700;
    color: var(--grey);
    text-transform: uppercase;
    border-right: 1pt solid #EEE;
}

table {
    border-collapse: collapse;
}

.title {
    font-weight: 400;
    font-size: 21px;
}

th, td {
    margin: 4px 0;
    width: 1.9em;
    height: 17px;
    padding: 5px; 
    text-align: center;
}

th {
    border-bottom: 2pt solid var(--grey);
    margin: auto;
}

td {
    border-bottom: 1pt solid #DDD;
    padding: 8px 4px;
}

.code {
    padding-right: 93px;
    font-weight: 900;
}

.control {
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
}

.control:hover {
    cursor: pointer;
}

.medal {
    font-weight: 400;
    width: 2.5em;
}

.active {
    border-top: 3px solid var(--grey);
}

.control.gold {
    background-color: #f4d156;
    text-indent: -1000em;
}

.control.silver {
    background-color: #9ca5ac;
    text-indent: -1000em;
}

.control.bronze {
    background-color: #7f542d;
    text-indent: -1000em;
}

.control.total {
    font-size: smaller;
    top: 2px;
}

.control.total {
    position: relative;
    left: -11px;
}

td.code {
    margin-left: 1px;
    text-align: left;
}

.rank {
    width: 1em;
    margin: 0;
}

.total { 
    color: #333;
    width: 2.5em;
    margin-left: 19px;
}

td.flag > div {
    background-image: url('/assets/flags.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 17px;
}

.AUT {
    background-position: 0px calc(var(--flagy) * 0);
}    

.BLR {
    background-position: 0px calc(var(--flagy) * 1);
}    

.CAN {
    background-position: 0px calc(var(--flagy) * 2);
}    

.CHN {
    background-position: 0px calc(var(--flagy) * 3);
}

.FRA {
    background-position: 0px calc(var(--flagy) * 4);
}    

.GER {
    background-position: 0px calc(var(--flagy) * 5);
}    

.ITA {
    background-position: 0px calc(var(--flagy) * 6);
}    

.NED {
    background-position: 0px calc(var(--flagy) * 7);
}    

.NOR {
    background-position: 0px calc(var(--flagy) * 8);
}    

.RUS {
    background-position: 0px calc(var(--flagy) * 9);
}    

.SUI {
    background-position: 0px calc(var(--flagy) * 10);
}    

.SWE {
    background-position: 0px calc(var(--flagy) * 11);
}    

.USA {
    background-position: 0px calc(var(--flagy) * 12);
}    

