@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

:root {
    --grey: #808185;
    --flagy: -17px;
}

/* You can add global styles to this file, and also import other style files */
#goldclicker {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-stretch: condensed;
    color: var(--grey);
    text-transform: uppercase;
    /* display: table; */
}

.title {
    /* width: 100%; */
    /* display: table-row; */
    /* display: table-cell; */
}

tr[nav] > td, tr[listing-component] > td {
    margin: 4px;
    width: 2.2em;
    height: 17px;
    text-align: center;
}

tr[nav] {
    /* display: table-row; */
    border-bottom: 4px sold var(--grey);
}

/* tr[nav] > div {
    display: table-cell;
} */

.control {
    content: " ";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 5px auto;
    text-align: center;
}


.control:hover {
    cursor: pointer;
}

.active {
    border-top: 3px solid var(--grey);
}

.control.gold {
    background-color: #f4d156;
    text-indent: -1000em;
}

.control.silver {
    background-color: #9ca5ac;
    text-indent: -1000em;
}

.control.bronze {
    background-color: #7f542d;
    text-indent: -1000em;
}

tr[listing-component] {
    border-bottom: 1px solid var(--grey);
    /* display: table-row; */
}

tr[listing-component] > td {
    /* display: table-cell; */
    border-bottom: 1px solid var(--grey);
    padding: 4px;
}

.code {
    text-align: left;
}

.code, .total {
    font-weight: 900;
}

.total { 
    color: black;
}

.flag {
    background-image: url('/assets/flags.png');
    background-repeat: no-repeat;
    /* background-size: 17px 28px; */
    /* height: 17px; */
    /* margin: 4px; */
    /* width: 28px; */
    /* overflow: hidden; */
}    

.AUT {
    background-position: 0px calc(var(--flagy) * 0);
}    

.BLR {
    background-position: 0px calc(var(--flagy) * 1);
}    

.CAN {
    background-position: 0px calc(var(--flagy) * 2);
}    

.CHN {
    background-position: 0px calc(var(--flagy) * 3);
}

.FRA {
    background-position: 0px calc(var(--flagy) * 4);
}    

.GER {
    background-position: 0px calc(var(--flagy) * 5);
}    

.ITA {
    background-position: 0px calc(var(--flagy) * 6);
}    

.NED {
    background-position: 0px calc(var(--flagy) * 7);
}    

.NOR {
    background-position: 0px calc(var(--flagy) * 8);
}    

.RUS {
    background-position: 0px calc(var(--flagy) * 9);
}    

.SUI {
    background-position: 0px calc(var(--flagy) * 10);
}    

.SWE {
    background-position: 0px calc(var(--flagy) * 11);
}    

.USA {
    background-position: 0px calc(var(--flagy) * 12);
}    

